@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-image: url(../../public//ff.jpg);
    background-position: center,left ;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill ;
    max-width: 100%;
    height: auto;

    
  }
  @media (min-width: 700px) {
    body {
        width: 100rem;
      background-repeat: no-repeat;
      object-fit: fill;
      background-size: cover;
      background-position: center,left ;

      max-width: 100%;
      background-color: red;
      height: 80rem;
    }
  }
  @media (min-width: 468px) {
    body {
      background-repeat: no-repeat;
      object-fit: fill;
      background-size: cover;
      background-position: center,center ;

      max-width: 100%;
      background-color: red;
      width: 100rem;
      height: 70rem;
    }
  }
  @media (min-width: 992px) {
    body {
      background-repeat: no-repeat;
      
      background-size: cover;


      max-width: 100%;
      background-color: red;
      width: 300rem;
      height: 70rem;
    }
  }

}
